@import "tailwindcss";

@theme {
  --color-primary: #FFA500;
  --color-secondary: #E39300;
  --color-dark: #111827;
  --font-poppins: "Poppins", sans-serif;


}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');